fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
git+https://github.com/Koziev/rulemma
git+https://github.com/Koziev/rutokenizer
git+https://github.com/Koziev/rupostagger
python-crfsuite
git+https://github.com/Koziev/rusyllab
git+https://github.com/Koziev/ruword2tags
gdown